@mixin headers ($shrinkray){
  font-family: $header-font;
  font-size: $primary-font-size / ($shrinkray);
}

@mixin text ($shrinkray){
  font-family: $primary-font;
  font-size: $primary-font-size / ($shrinkray);
}

@mixin button ($plus){
  @include second-headers;
  background: $primary-bg + $plus;
  &:hover{
    @include prime-headers;
    background: $primary-bg;
  }
}

$primary-color: #c46875;
$secondary-color: #555;
$header-font: "Fredoka One", cursive;
$primary-font: "Josefin Sans", Arial, sans-serif;
$primary-font-size: 4em;
$primary-bg: #eee;


/* --- global --- */
div p, td, a {
  @include text (3.5);
}

/* --- gallery/ORBIT --- */

.orbit-slide-number {
  display: none;
}

.orbit-next, .orbit-prev {
  opacity: 0.3;
}

.orbit-container .orbit-prev > span {
  border-right-style: solid;
  border-color: transparent;
  border-right-color: $primary-color; }

.orbit-container .orbit-next > span {
  border-color: transparent;
  border-left-style: solid;
  border-left-color: $primary-color;
  left: 50%;
  margin-left: -4px; }

.touch .orbit-container .orbit-prev,
.touch .orbit-container .orbit-next {
  display: inherit; }

/* --- headers --- */

h1 {
  @include headers(1);
  color: $primary-color;
  text-align: center;
}

h2 {
  @include headers(2.5);
  @extend h1;
}

h3 {
  @include headers(1.7);
  @extend h1;
}

h4, h5, th {
  @include headers(3.5);
  color:  $secondary-color;
}

.logo h1{
  @include headers(2);
}

/* --- buttons & links --- */
a, a:visited {
  color: $primary-color;
  text-decoration: none;

  &:hover {
  color: $secondary-color;
  }

}

.button {
  @extend h4;
  background-color: $primary-bg;

  &:hover{
    background-color: $primary-bg;
    color: $primary-color;
  }
}

/* --- navigation --- */

nav {
  width: 100%;
  margin: 2% auto;
}

nav li{
  display: inline-block;
}
nav a.button {
  @extend .button;
  background-color: $primary-bg * 10;

  &:hover{
    @extend .button:hover;
  }
}

.top-bar {
  background-color: $primary-bg * 10;
}



/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 1080px) {

  /* --- global --- */
  body {
    font-size: 0.9em;
  }

  div {
    width: 75%;
    margin: 0 auto;
    padding: 0 5%;
    overflow: hidden;
  }

  .logo {
    width: 50%;
  }


  /* --- gallery/ORBIT --- */
  .orbit-container {
    margin-top: 5%;
  }
  .orbit-next, .orbit-prev {
    display: inherit;
    position: justify;
    }

  .orbit-prev span {
    margin-left: -20%
  }

  /* --- nav --- */

  .button {
    margin: 0 auto;
  }

  .top-bar {
    height: auto;
  }
  .top-bar .toggle-topbar {
    display: inline-block;
  }

  .menu-icon {
    color: $secondary-color;
  }

  /* --- tables --- */

  .media-extend table {
    width: 100%;
    margin: 1% auto;
    padding: 0;
  }

  .media-extend td{
    text-align: center;
    padding: 1%;
  }

  .media-extend td:nth-child(5n+1){
    width: 25%;
  }

  #macaron td:nth-child(5n+1){
    width: 50%;
  }
}